.searchbox{
    input{
        max-width: 100%;
        width: 100%;
        background-image: url('../../assets/images/search.png');
        background-repeat: no-repeat;
        background-position: 20px;
        padding: 10px 10px 10px 60px !important;
    }
}