@import '../../responsive.scss';
.button{
    position: relative;
    &:last-child{
      margin-right: 0;
    }
    button{
        background-color: var(--yellow);
        padding: 15px 41px;
        border: none;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #171717;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        border: 1px solid transparent;
        @media screen and (max-width: $bigtablet){
          padding: 14px 20px;
          font-size: 14px;
        }
        &:hover{
          border-color: var(--yellow);
          background-color: transparent;
          color: var(--yellow);
        }
        &.btn-outline-primary{
          background-color: transparent;
          border: 1px solid var(--yellow);
          color: var(--yellow);
        }

        &.btn-outline-primary{
          &:focus,
          &:hover{
            background-color: var(--yellow);
            color: #171717;
          }
        }
        &.btn-fluid{
          width: 100%;
          display: block;
        }
        
        &[type="reset"] {
          background: transparent;
          color: var(--text);
          min-width: 1px !important;
          &::after{
            display: none;
          }
          &:focus,
          &:hover{
            background: transparent;
            color: var(--blue);
          }
        }
    }

    @keyframes ripple {
        0% {
          transform: scale(0);
          opacity: 0.6;
        }
        30% {
          transform: scale(1);
        }
        100% {
          opacity: 0;
          transform: scale(1);
        }
      }
}

.right{
  text-align: right;
  .button{
    display: inline-block;
    vertical-align: top;
  }
}
.center{
  text-align: center;
  .button{
    display: inline-block;
    vertical-align: top;
  }
}