@import '../../responsive.scss';



.Counter {
	position: relative;
	width: 100%;
    .counter-bg{
        position: relative;
        line-height: 0;
        padding-top: 56.25%;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, rgba(32, 32, 32, 0) 39.32%, rgba(0, 0, 0, 0) 39.32%, #202020 90.92%);
            z-index: 1;
        }
        >img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
    .counter-time {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        .play_game {
            width: 197px;
            height: 72px;
            background: #FFFFFF;
            border-radius: 50px;
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            transition: all 0.5s ease;
            span{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 130%;
                color: var(--bggraylightblack);
                transition: all 0.5s ease;
                img{
                    margin: 0 10px 0 0;
                    transition: all 0.5s ease;
                }
            }
            &:hover{
                background: var(--orange);
                transition: all 0.5s ease;
                span{
                    color: var(--white);
                    transition: all 0.5s ease;
                    img{
                        filter: brightness(100);
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
    .CountdownDisplay{
        display: flex;
        justify-content: center;
        align-items: center;
        > div{
            position: relative;
            padding: 0 26px;
            @media screen and (max-width: $mobile){
                padding: 0 4px;
            }
        }
        .black-circle{
            width: 115px;
            height: 115px;
            background: #171717;
            border-radius: 101px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: bold;
            font-size: 56px;
            color: var(--white);
            @media screen and (max-width: $bigtablet){
                width: 100px;
                height: 100px;
                font-size: 42px;
            }
            @media screen and (max-width: $mobile){
                width: 60px;
                height: 60px;
                font-size: 16px;
            }
        }
        .label{
            display: block;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 130%;
            color: var(--white);
            text-transform: capitalize;
            text-align: center;
            margin-top: 20px;
            @media screen and (max-width: $bigtablet){
                font-size: 18px;
                margin-top: 15px;
            }
            @media screen and (max-width: $mobile){
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}
