@import '../../responsive.scss';

section{
    &.full-screen{
        padding: 0;
        min-height: 100vh;
        .container{
            max-width: 100%;
            width: 100%;
            padding: 0;
        }
        .counter-live{
            margin: 0;
            .counter-wrap {
                width: 100%;
                position: relative;
                border-radius: 0;
                overflow: hidden;
                padding-bottom: 0;
            }
            .Counter {
                .counter-bg {
                    padding-top:0;
                    min-height: 100vh;
                    img{
                        @media screen and (max-width: $mobile){
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}