@import '../../responsive.scss';

.count-down-time{
    background: #202020;
}
.counter-live{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
    .counter-wrap {
        width: 66%;
        position: relative;
        background: #202020;
        border-radius: 16px;
        overflow: hidden;
        padding-bottom: 110px;
        @media screen and (max-width: $smtablet){
            width: 100%;
        }
        @media screen and (max-width: $mobile){
            padding-bottom: 70px;
        }
    }
    .chat-wrap{
        width: 32%;
        background: #202020;
        border-radius: 16px;
        padding: 24px;
        @media screen and (max-width: $smtablet){
            width: 100%;
            margin-top: 25px;
            padding: 15px;
        }
        .chat-header{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 20px;
            position: relative;
            h2{
                font-size: 20px;
                line-height: 130%;
                color: var(--white);
                margin-bottom: 0;
                @media screen and (max-width: $tablet){
                    font-size: 14px;
                }
                @media screen and (max-width: $mobile){
                    font-size: 16px;
                }
            }
            .online{
                min-width: 93px;
                height: 24px;
                display: flex;
                align-items: center;
                border: 1px solid #303030;
                border-radius: 50px;
                font-weight: 500;
                font-size: 12px;
                line-height: 100%;
                color: var(--white);
                padding-left: 23px;
                text-align: center;
                margin-left: 15px;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: 7px;
                    left: 10px;
                    width: 6px;
                    height: 6px;
                    background: var(--yellow);
                    border-radius: 50px;
                }
            }
            .hide-show-chat{
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                color: #606060;
                position: absolute;
                top: 5px;
                right: 0;
                cursor: pointer;
                padding-right: 30px;
                @media screen and (max-width: $tablet){
                    font-size: 0;
                }
                &::before{
                    content: "";
                    position: absolute;
                    right: 0;
                    top: -4px;
                    width: 25px;
                    height: 25px;
                    background: url(../../assets/images/white-arrow.png) no-repeat center center;
                }
            }

        }
    }
}


.game-action-button {
	position: relative;
	padding: 30px;
    @media screen and (max-width: $mobile){
        padding: 10px;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        @media screen and (max-width: $mobile){
            margin-bottom: 15px;
        }
        li{
            margin-right: 16px;
            @media screen and (max-width: $bigtablet){
                margin-right: 7px
            }
            @media screen and (max-width: $mobile){
                margin:0 5px 0 0;
                &:last-child{
                    margin-right: 0;
                }
            }
            &:last-child{
                margin-right: 0;
            }
            > a{
                border: 1px solid #303030;
                border-radius: 50px;
                padding: 10px 22px;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 130%;
                color: var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: $bigtablet){
                    font-size: 16px;
                }
                @media screen and (max-width: $mobile){
                    font-size: 12px;
                    padding: 10px 10px;
                }
                > img{
                    margin-right: 10px;
                    @media screen and (max-width: $mobile){
                        margin-right: 7px;
                        width: 15px;
                    }
                }
                &:hover{
                    background: var(--yellow);
                    color: #202020;
                    >img{
                        filter: invert(1);
                    }
                }
            }
        }
    }
}

.like-share-game{
	position: absolute;
    padding: 30px;
    background: #303030;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    @media screen and (max-width: $mobile){
        padding: 10px;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-right: 16px;
            @media screen and (max-width: $mobile){
                margin-right: 5px;
            }
            &:last-child{
                margin-right: 0;
            }
            > a{
                border: 1px solid #606060;
                border-radius: 50px;
                padding: 10px 22px;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                color: var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: $mobile){
                    font-size: 12px;
                    padding: 9px 7px;
                }
                > img{
                    margin-right: 10px;
                    @media screen and (max-width: $mobile){
                        margin-right: 5px;
                    }
                }
                &:hover{
                    background: var(--yellow);
                    color: #202020;
                    >img{
                        filter: invert(1);
                    }
                }
            }
        }
    }
}



.game-detail{
    display: flex;
    flex-wrap: wrap;
    .game-info{
        max-width: 330px;
        width: 100%;
        margin-right: 30px;
        @media screen and (max-width: $bigtablet){
            max-width: 300px;
        }
        @media screen and (max-width: $mobile){
            max-width: 100%;
            margin-right:0;
        }
        .dark-box{
            padding: 25px;
        }
        h4{
            font-weight: bold;
            font-size: 32px;
            line-height: 130%;
            color: var(--white);
            @media screen and (max-width: $mobile){
                font-size: 20px;
            }
        }
        p{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            span{
                width: 48%;
                &:last-child{
                    text-align: right;
                }
            }
        }
    }
    .desciption{
        max-width: calc(100% - 430px);
        width: 100%;
        @media screen and (max-width: $bigtablet){
            max-width: calc(100% - 360px);
        }
        @media screen and (max-width: $mobile){
            margin-top: 15px;
            max-width: 100%;
        }
        h3{
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            color: var(--white);
        }
        p{
            font-size: 12px;
            line-height: 160%;
            color: #606060;
        }
    }
}

.other-option{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    .games-details{
        width: 66%;
        @media screen and (max-width: $smtablet){
            width: 100%;
        }
        .Populer-Games{
            margin-bottom: 40px;
        }
        .title{
            font-weight: bold;
            font-size: 20px;
            line-height: 130%;
            color: var(--white);
            position: relative;
            margin-top: 0;
            padding-right: 130px;
            a{
                font-weight: bold;
                font-size: 16px;
                line-height: 100%;
                color: #606060;
                position: absolute;
                right: 0;
                top:7px;
                &:hover{
                    color: var(--yellow);
                }
            }
        }
        .rent-character{
            .title{
                padding-right: 0;
                font-size: 18px;
            }
            .characters-list{
                display: flex;
                flex-wrap: wrap;
                margin: 0 -10px;
                >li{
                padding: 0 10px;
                width: 33.33%;
                @media screen and (max-width: $mobile){
                    width: 100%;
                }
                .Players-box{
                    .Player-info {
                        padding-left: 3%;
                        padding-top: 0;
                    }
                }
                }
            }
        }
        .game-list{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -12px;
            .game_item{
                padding: 0 12px;
                width: 50%;
                @media screen and (max-width: $mobile){
                    width: 100%;
                    margin-top: 15px;
                }
            }
        }
    }
    .detail-games{
        width: 32%;
        background: #202020;
        border-radius: 16px;
        padding: 24px;
        @media screen and (max-width: $smtablet){
            width: 100%;
        }
        h2{
            font-size: 20px;
            line-height: 130%;
            color: var(--white);
            margin-top: 10px;
            margin-bottom: 20px;
        }
        ul{
            li{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 35px;
                &:last-child{
                    margin-bottom: 0;
                }
                > span,
                > label{
                    font-size: 16px;
                    line-height: 100%;
                    color: #606060;
                    width: 65%;
                    text-align: left;
                    display: block;
                    line-height: 120%;
                    @media screen and (max-width: $bigtablet){
                        font-size: 14px;
                    }
                }
                > span{
                    text-align: right;
                    color: var(--white);
                    width: 35%;
                }
            }
        }
    }
}