@import '../../responsive.scss';

.players-page{
    &.profile-page{
        padding-bottom: 55px;
        .profile-name-img{
            margin-bottom: 0;
        }
        .weapons {
            .weapon-dropdown{
                .formField {
                    width: 43%;
                }
            }
        }
        .box{
            padding: 20px;
            margin-bottom: 24px;
        }
        .watch-teaser-box-img {
            padding-top: 53.4%;
        }
        .price{
            h3{
                font-size: 14px;
                line-height: 100%;
                text-transform: capitalize;
                color: var(--white);
            }
            .price{
                font-weight: bold;
                font-size: 32px;
                line-height: 130%;
                color: var(--yellow);
            }
        }

        .player-mid-col{
            width: 75%;
            @media screen and (max-width: $tablet){
                max-width:  64%;
                width: 100%;
            }
            @media screen and (max-width: $smtablet){
                max-width: calc(100% - 280px);
                width: 100%;
            }
            @media screen and (max-width: $mobile){
                max-width: 100%;
                width: 100%;
                .search-bar .searchbox-block {
                    width: 100%;
                }
                .filter-box-block {
                    margin: 20px auto 0 auto;
                }
            }
            .top-player-wrap{
                width: 66%;
                margin-top: 24px;
                @media screen and (max-width: $tablet){
                    width: 100%;
                }
            }
            .top-player {
                margin-top: 0;
                max-width: 100%;
                width: 100%;
            }
        }
        .watch-teaser-box{
            width: 100%;
            margin-bottom: 25px;
            .watch-teaser-box-btn{
                margin-left: 18%;
                @media screen and (max-width: $tablet){
                    margin-left: 5%;
                }
            }
        }
        .search-bar{
            .search-wrap {
                max-width: 64%;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                @media screen and (max-width: $bigtablet){
                    max-width: 60%;
                }
                @media screen and (max-width: $smtablet){
                    max-width: 100%;
                    margin-top: 20px;
                }
            }
            .filter-box {
                position: relative;
                height: 100%;
                > a {
                    height: 100%;
                }
                .filter-dropdown{
                    left: auto;
                    right: 0;
                    @media screen and (max-width: $smtablet){
                        left: -80px;
                        right: -10px;
                    }
                   
                }
            }
        }

    }
    .round-title{
        display: inline-flex;
        flex-wrap: wrap;
        background: var(--bggraylightblack);
        border-radius: 50px;
        padding: 6px 6px 6px 25px;
        h2{
            margin: 0;
            font-weight: bold;
            font-size: 20px;
            line-height: 130%;
            color: var(--white);
            margin-right: 24px;
            display: flex;
            align-items: center;
            @media screen and (max-width: $tablet){
                font-size: 14px;
                margin-right: 10px;
            }
        }
        span{
            background: var(--yellow);
            border-radius: 50px;
            display:inline-block;
            padding: 15px 20px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
            color: #171717;
            @media screen and (max-width: $tablet){
                font-size: 14px;
                padding: 10px 12px;
            }
        }
    }
}

.Tournament {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    .tour-right{
        width: 32%;
        @media screen and (max-width: $tablet){
            width: 100%;
        }
    }
}