@import '../../responsive.scss';

// Player List Css Start

section.player-list-sec {
    padding-top: 10px;
}

.player-list-left-block{
    .searchbox-block{
        max-width: 48.5%;
        width: 100%;
        @media screen and (max-width: $mobile){
            max-width: 100%;
            width: 100%;
            margin-bottom: 15px;
        }
        input{
            width: 100%;
            height: 49px !important;
        }
    }
    .player-list-show-count{
        background-color: var(--bgouterbox);
        padding: 6px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        margin-right: 32px;
        @media screen and (max-width: $tablet){
            margin-right: 10px;
        }
        @media screen and (max-width: $mobile){
            order: 2;
            width: calc(100% - 150px);
            margin: 0;
            justify-content: space-between;
        }
        h3{
            font-weight: bold;
            font-size: 20px;
            line-height: normal;
            color: #FFFFFF;            
            margin-bottom: 0;
            padding-right: 30px;
            padding-left: 24px;
            @media screen and (max-width: $tablet){
                font-size: 14px;
                padding-right: 20px;
                padding-left: 15px;
            }
            @media screen and (max-width: $smtablet){
                font-size: 10px;
                padding-right: 10px;
                padding-left: 10px;
            }
        }
        > span{
            font-weight: 600;
            font-size: 18px;
            color: #171717;
            background: #F6CE0E;
            border-radius: 50px;
            display: block;
            padding: 16px 20px;
            @media screen and (max-width: $tablet){
                padding: 10px 10px;
                font-size: 14px;
            }
            @media screen and (max-width: $smtablet){
                font-size: 12px;
            }
            @media screen and (max-width: $mobile){
                font-size: 12px;
            }
        }
    }
    .player-list-top-action-bar {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: $smtablet){
            justify-content: center;
        }
        @media screen and (max-width: $mobile){
            justify-content: space-between;
        }
    }
    
}

.filter-box-block {
    margin-left: 16px;
    @media screen and (max-width: $mobile){
        margin: 0;
        width: 140px;
    }
}


.player-list-data{
    > ul{
        display: flex;
    }

}

.player-list-left-block {
    width: 75%;
    @media screen and (max-width: $tablet){
        width: 72%;
    }
    @media screen and (max-width: $smtablet){
        width: 100%;
    }
}

.open-games-left-block{
    width: 25%;
    padding-left: 37px;
    padding-top: 95px;
    @media screen and (max-width: $tablet){
        padding-left: 15px;
        width: 28%;
    }
    @media screen and (max-width: $smtablet){
        padding-left: 0;
        width: 50%;
        padding-top: 40px;
        margin: 0 auto;
    }
    @media screen and (max-width: $mobile){
        width: 100%;
        padding-top: 30px;
    }
}

.open-games-full-box .sm-title{
    margin-bottom: 30px;
}