.App {
  text-align: center;
}
.main-wrapper {
	min-height: calc(100vh - 203px);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-title{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: var(--white);  
}
.title-with-seach {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  margin-bottom: 32px;
  width: 100%;
}
.title-with-seach h2{
  margin-bottom: 0;
}
.title-with-seach .search-filter {
	max-width: 660px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.title-with-seach  .searchbox-block{
  max-width: 494px;
  width: 100%;
}
.title-with-seach  .filter-box {
	position: relative;
	height: 100%;
}
.title-with-seach  .filter-box > a {
  height: 100%;
}








@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
