@import '../../responsive.scss';


.match-list{
    margin-bottom: 25px;
    &:last-child{
        margin-bottom: 0;
    }
    .match_item{
        margin-bottom: 13px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .match-box{
        display: flex;
        flex-wrap: wrap;
        padding: 16px 10px;
        align-items: center;
        .match-img{
            width: 46px;
            height: 46px;
            display: block;
            border-radius: 50px;
            overflow: hidden;
        }
        .match-info{
            width: calc(100% - 46px);
            display: flex;
            flex-wrap: wrap;
            padding-left: 12px;
            .match-w-l{
                width: 80px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                h4{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 120%;
                    color: var(--white);
                    width: 100%;
                    display: block;
                }
                > div{
                    width: 49%;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 100%;
                    color: #606060;
                    span{
                        margin-left: 1px;
                    }
                    .green{
                        color: var(--green);
                    }
                    .red{
                        color: var(--red);
                    }
                }
            }
            .match-kda{
                width: 80px;
                label{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 120%;
                    color: #606060;
                    width: 100%;
                    display: block;
                    margin-bottom: 15px;
                }
                .date{
                    display: block;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 100%;
                    color: var(--white);
                }
            }
            .win-trophy{
                width: 40px;
                height: 40px;
                border-radius: 50px;
                background-color: #202020;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3px;
                &:hover{
                    > div{
                        >span{
                            top: -45px;
                            z-index: 1;
                            transition: all 0.5s ease;
                            opacity: 1;
                        }
                    }
                }
                > div{
                    position: relative;
                    &.win{
                        span{
                            background-color: var(--green);
                            color: var(--black);
                            &::before{
                                border-top-color: var(--green);
                            }
                        }
                    }
                    &.loss{
                        >img{
                            
                        opacity: 0.25;
                        }
                        >span{
                            background-color: var(--red);
                            color: var(--white);
                            &::before{
                                border-top-color: var(--red);
                            }
                        }
                    }
                    >span{
                        position: absolute;
                        top: 0;
                        left: -40px;
                        right: 0;
                        width: 93px;
                        height: 32px;
                        text-align: center;
                        border-radius: 50px;
                        line-height: 32px;
                        z-index: -1;
                        transition: all 0.5s ease;
                        opacity: 0;
                        font-size: 12px;
                        font-weight: bold;
                        &::before{
                            content: "";
                            position: absolute;
                            bottom: -9px;
                            width: 0;
                            height: 0;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-top: 9px solid var(--green);
                            left: 2px;
                            right: 0;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}

